<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="service.name" source="spring.application.name"/>

    <property name="log.console.pattern"
              value="${LOG_CONSOLE_PATTERN:-%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z',GMT} [${service.name}] [%15.15t] %highlight(%-5level) %-40.40logger{39} [%X{trace.id}] -%msg %green(%marker){}%n}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.console.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="accesslog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="reactor.netty.http.server.AccessLog" level="INFO" additivity="false">
        <appender-ref ref="accesslog"/>
    </logger>
    <!-- Decrease the amount of logs from Jetty started by WireMock -->
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="ee.ria.govsso.inproxy" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
